body {

    background-size: cover;
}

.heading {

    font-size: 23px;
    width: 100%;
    margin: 0px;

}

.note {

    font-size: 20px;
    color: black;



}

.div_speed {

    float: left;
}

.div_speed_image {

    width: 200px;
    border-radius: 100px;

}



#speed {

    font-size: 23px;
    margin: 15px;

}

.div_volume {

    float: right;
}

#volume {

    font-size: 23px;
    margin: 15px;

}


.div_volume_image {

    width: 200px;
    border-radius: 100px;

}

.play_button {

    width: 130px;
    font-size: 25px;
}

canvas{

    border: 5px soild white;
    border-radius:20px;
    
}